:root {
  --primary-color: #fff2f7;
  --secondary-color: #fe93b9;
  --heading-font-family: "Bitter", serif;
  --default-font-family: "Sono", sans-serif;
  --default-transition: all 100ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 2;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 65px;
}

footer .contact-box p {
  margin: 0;
}

.content-container {
  padding: 65px 0px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content {
  margin: 30px;
}

.content p {
  font-size: 14px;
}

.contact-icon {
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: white;
  padding: 20px 24px;
  font-size: 70px;
  border-radius: 50%;
  transition: var(--default-transition);
}

.contact-icon:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: var(--default-transition);
}

.about-img {
  border-radius: 8px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "Sono", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: var(--default-transition);
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--secondary-color);
  color: white;
  transition: var(--default-transition);
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content-container {
    padding: 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content h1 {
    font-size: 44px;
    margin-top: 0;
  }

  .project-image {
    max-width: 100%;
    max-height: 50%;
  }

  .about-img {
    width: 50%;
    justify-content: center;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-container {
    height: 600px;
  }

  .page-footer {
    line-height: 2;
  }

  .social-media-icon {
    font-size: 30px;
  }

  footer .contact-box {
    padding: 30px;
  }
}

@media (min-width 1200px) {
  footer .contact-box {
    padding: 30px 120px;
  }
}

.social-media-icon {
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: white;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 50%;
  transition: var(--default-transition);
}

.social-media-icon:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: var(--default-transition);
}

.project-image {
  border-radius: 8px;
}

.navbar-pink {
  background-color: var(--secondary-color);
  color: white;
}

.page-footer {
  text-align: center;
  font-size: 10px;
  margin: 10px 15px;
}

.page-footer a {
  text-decoration: none;
  color: var(--secondary-color);
}
